<!-- Modulo 7 Ejercicio P2P: Busquedas -->
<table>
	<tr><td>
		<form name="busqueda" id="busqueda" action="/quizes">
			<input type="text" name="search" id="search" placeholder="Indroduce tu búsqueda" value="<%=query%>"  />
			<input type="submit" value="Buscar" /> </br>
		</form> 
	</td></tr>

	<tr><td><hr style="visibility: visible;"></td></tr>

	<tr><td>
	<% if(query) { %>
		<a href="/quizes">Mostrar todas las preguntas</a></td></tr>
		<tr><td><strong>
			<%= quizes.length  %> 
			<%if (quizes.length === 1) { %>		 
			 	pregunta encontrada
			<% } else { %>
		  		preguntas encontradas  </strong><% } %>   	
	<% } else { %> 
		<strong> Listado de preguntas </strong>
	<% } %>
	</td>
	<td>
		<%if(session.user){%> <!-- Mod 9 - Quiz 17 - Autorizacion -->
			<a href="/quizes/new"><button type="button">Crear pregunta </button></a><!-- Modulo 8 Crear preguntas -->
		<% } %>
	</td></tr> 

<!-- Modulo 7 Listar preguntas -->
<% var i; for (i=0; i < quizes.length; i++) { %>
	<tr>
		<td><%= quizes[i].id %>.- <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %> (<%= quizes[i].tema %>)</a></td>
		<%if(session.user){%>  <!-- Mod 9 - Quiz 17 - Autorizacion -->
			<td><table><tr><td>
				<a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
		 		<td><form method="post" action="quizes/<%=quizes[i].id %>?_method=delete">
		      		<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta%>');"> borrar
		      		</button>
		   		</form>
	   		</td></tr></table></td>
	   	<%}%>
	</tr>
<% } %>
</table>



