<!-- Quiz_2015 Dunjare -->

<!-- Modulo EXTRA IMAGEN -->
<%if (quiz.image){%>
<p><img class="quiz_img" src="/quizes/<%=quiz.id%>/image"%>"></p>
<%}%>

<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <p>Pregunta: <%= quiz.pregunta %> </p>
  <input type="text" name="respuesta" placeholder="Introduce tu respuesta" /></br>
  <input type="submit" value="Enviar">
</form>

<!-- Modulo 9 Crear Comentario -->
<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<!-- Modulo 9 Quiz 18 Moderacion de Comentario -->
<p><strong>Comentarios:</strong></p>
<%for(index in quiz.Comments){%>
	<%if(quiz.Comments[index].publicado){%>
		<p>- <%=quiz.Comments[index].texto%></p>
	<%} // Mod 9 Quiz 20-21 Users
	else if(session.user && (session.user.isAdmin || (session.user && quiz.UserId === session.user.id))){%>
			<p>- <%=quiz.Comments[index].texto%>
			<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish"><button>Publicar</button></a></p>
	<%}%>
<%}%>
