<!-- Quiz_2015 Dunjare -->
<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <p>Pregunta: <%= quiz.pregunta %> </p>
  <input type="text" name="respuesta" placeholder="Introduce tu respuesta" /></br>
  <input type="submit" value="Enviar">
</form>

<!-- Modulo 9 Crear Comentario -->
<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<!-- Modulo 9 Quiz 18 Moderacion de Comentario -->
<p><strong>Comentarios:</strong></p>
	<%for(index in quiz.Comments){ %>
		<%if(quiz.Comments[index].publicado || session.user){%>
			<p>- <%=quiz.Comments[index].texto%>
		  	<%if(session.user && !quiz.Comments[index].publicado){%>
				<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish"><button>Publicar</button></a>
			<%}%>
			</p>
		<%}%>
	<%}%>

