<!-- Quiz_2015 Dunjare -->

<!-- Modulo 9 ejercicio P2P -->
Estadíticas:
<table border="1">
  <tr>
    <th>El número de preguntas</th>
    <td><%=stadistics.numQuiz%></td>
  </tr>
    <th>El número de comentarios totales</th>
    <td><%=stadistics.countPublished%></td>
  </tr>
    <th>El número medio de comentarios por pregunta</th>
    <td><%=stadistics.quizesCommented%></td>
  </tr>
    <th>El número de preguntas sin comentarios</th>
    <td><%=stadistics.quizesUnCommented%></td>
  </tr>
    <th>El número de preguntas con comentarios</th>
    <td><%=stadistics.averageComments%></td>
  </tr>
</table>
